<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>About_us</title>
</head>

<body>
	<hr>
	<h4>About site</h4>
	
	A Vendor-Hospital management portal, where Vendor is medical device manufacturer who publishes their respective products on the portal.
Hospital representatives registers themselves, browse published medical device products, and can contact vendor for buying the product. Also, they can add their requests for any unpublished/ unavailable medical devices. Vendors can explore these hospital requests and can connect with them for production of specified devices. Hospital will have to take in consideration the time required for the vendor to deliver the product.
</body>
</html>
