<!doctype html>
<html>
<head>
<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">
<title>About Portal</title>
</head>

<body>
	<hr>
	<nav class="navbar navbar-expand">
	<div class="container">
		{% if session_value == None -%}
			<a href="/">Home</a>
			<a href="/Products">Products</a>
			<a href="/Login">Login/ Register</a>
		{% else -%}
			<a href="/Home">Home</a>
			<a href="/Products">Products</a>
			<a href="/OnDemandRequest">On-Demand Requests</a>
			<a href="/My_Profile">My Profile</a>
			<a href="/Logout">Logout</a>
		{%endif%}
		
		
	
	</div>
</nav>
	<hr>
	<div style="border: 4px solid #f1f1f1; width: 700px; background-color: aliceblue;margin-left: 400px">
	<h2  style="color: #007bff; margin: 20px">About Portal</h2>
	
	<h5 style="margin: 20px">A Vendor-Hospital management portal, where Vendor is medical device manufacturer who publishes their respective products on the portal.
Hospital representatives registers themselves, browse published medical device products, and can contact vendor for buying the product. Also, they can add their requests for any unpublished/ unavailable medical devices. Vendors can explore these hospital requests and can connect with them for production of specified devices. Hospital will have to take in consideration the time required for the vendor to deliver the product.
	</h5>
		</div>
</body>
</html>
