<!DOCTYPE html>
<html>
    <head>
        <title>
            Product Form
        </title>
        <body>
            <h2><center>Product Form Page</center></h2>
            <p>Please Enter the product details below</p>
            <form action="#"> <!--Webpage Where these values will be saved-->
                <label for="Prod_ID">Product ID:</label><br>
                <input type="number" id="Prod_ID"> <br>
                <label for="Prod_Name">Product Name:</label><br>
                <input type="text" id="Prod_Name"><br>
                <label for="V_ID">Vendor ID:</label><br>
                <input type="number" id="V_ID"><br>
                <label for="Man_date">Manufacturing Date:</label><br>
                <input type="number" id="Man_date"><br>
                <label for="Dimensions">Dimensions:</label><br>
                <input type="number" id="Dimensions"><br>
                <label for="Quantity">Enter Quantity:</label><br>
                <input type="number" id="Quantity"><br>
                <label for="Description">Enter Description:</label><br>
                <input type="text" id="Description"><br>
                <label for="Images">Enter Image:</label><br>
                <input type="file" id="Images"><br>
                <input type="submit" value="Submit">
            </form>

        </body>
    </head>
</html>