<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>home</title>

<link href="file:///F|/College/Advanced_prog_tech/Test_site/css/bootstrap-4.4.1.css" rel="stylesheet">
</head>

<body>

<center><a href="h.html"><img src="../static/images/AVA_Logo.png" alt="AVA" width="700" class="center"></a></center>
<hr>
	<center><h2 class="text-center">Available Products</h2></center>
<hr>
	<div class="container">
		<div class="row text-center">
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<img src="../static/images/BPMachine.jpg" alt="Card image cap" width="350" height="200" class="card-img-top rounded-circle">
			<div class="card-body">
				<a href="product.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of first product</p>
			</div>
		</div>
		<div class="card">
			<img src="../static/images/BPMachine.jpg" alt="Card image cap" width="300" height="150" class="card-img-top">
			<div class="card-body">
				<a href="product.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 2nd product</p>
			</div>
		</div>
		<div class="card">
			<img src="../static/images/BPMachine.jpg" alt="Card image cap" width="300" height="150" class="card-img-top">
			<div class="card-body">
				<a href="product.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 3rd product</p>
			</div>
		</div>
		</div>
	</div>
		</div>
	
	<script src="file:///F|/College/Advanced_prog_tech/Test_site/js/jquery-3.4.1.min.js"></script>
    <script src="file:///F|/College/Advanced_prog_tech/Test_site/js/popper.min.js"></script>
    <script src="file:///F|/College/Advanced_prog_tech/Test_site/js/bootstrap-4.4.1.js"></script>
</body>
</html>
