<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>home</title>

<link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">
</head>

<body>

<center><a href="h.html"><img src="../static/images/logo_3.gif" alt="AVA" width="500" height= "120" class="center"></a></center>
<hr>
	<nav class="navbar navbar-expand">
	<div class="container">
		<a href="h.html">Home</a>
		<a href="#">Products</a>
		<a href="onDemandRequest.html">OnDemand Requests</a>
		<a href="#">About Us</a>
	
	</div>
</nav>
	<hr>
	<center><h2 class="text-center">Latest Products</h2>
	</center>
<hr>
<div class="container">
		<div class="row text-center">
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
		  <img src="../static/images/BPMachine.jpg" alt="Card image cap" width="350" height="200" class="card-img-top rounded">
			<div class="card-body">
				<a href="product.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 1st product</p>
			</div>
		</div>
		</div>
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<img src="../static/images/BPMachine.jpg" alt="Card image cap" width="350" height="200" class="card-img-top rounded">
			<div class="card-body">
				<a href="product.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 2nd product</p>
			</div>
		</div>
		</div>
		<div class="col-md-4 pb-1 pb-md-0">		
		<div class="card">
			<img src="../static/images/BPMachine.jpg" alt="Card image cap" width="350" height="200" class="card-img-top rounded">
			<div class="card-body">
				<a href="product.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 3rd product</p>
			</div>
		</div>
		</div>
	</div>
	<div class="row text-center">
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
		  <img src="../static/images/BPMachine.jpg" alt="Card image cap" width="350" height="200" class="card-img-top rounded">
			<div class="card-body">
				<a href="product.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 4th product</p>
			</div>
		</div>
		</div>
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<img src="../static/images/BPMachine.jpg" alt="Card image cap" width="350" height="200" class="card-img-top rounded">
			<div class="card-body">
				<a href="product.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 5th product</p>
			</div>
		</div>
		</div>
		<div class="col-md-4 pb-1 pb-md-0">		
		<div class="card">
			<img src="../static/images/BPMachine.jpg" alt="Card image cap" width="350" height="200" class="card-img-top rounded">
			<div class="card-body">
				<a href="product.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 6th product</p>
			</div>
		</div>
		</div>
	</div>
		</div>
	
<script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.4.1.js"></script>
</body>
</html>
