<!DOCTYPE html>
<html>
    <head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">
        <title>
            New Product Form
        </title>
        <meta name="viewpoint" content="width-device-width, initial-scale=1">
		<style>
			input, select, textarea, submit {
			display: block;
			width: 100%;
			margin: 0
			}
			form{width: 700px; margin: auto}
	
</style>
        </head>
        <body>
			<hr>
	<nav class="navbar navbar-expand">
	<div class="container">
		<a href="/Home">Home</a>
		<a href="/Products">Products</a>
		<a href="/OnDemandRequest">On-Demand Requests</a>
		<a href="/AboutUs">About Us</a>
		<a href="/Logout">Logout</a>
		
	
	</div>
</nav>
	<hr>
            <h2><center>New Product</center></h2>
			<div class="container">
				<div class="row text-center" >
					<div class="col-xs-14 col-lg-offset-3 col-lg-12">
            <p>Enter the new product details below:</p>
            <form action="#" style="background-color: aliceblue; background-size: auto"> 
                <label for="Prod_Name">Product Name:</label><br>
                <input type="text" id="Prod_Name" name="Prod_Name"><br><br>
                <label for="V_name">Manufactured By</label><br>
                <select name="Manufacturers" id="Manufacturers">
					{%for l in allVendors%}
    			<option value={{l}}> {{l}} </option>
					{%endfor%}
				</select><br><br>
                <label for="Prod_Size">Prod_Size:</label><br>
                <input type="text" id="Prod_Size" name="Prod_Size"><br><br>
                <label for="Description">Enter Description:</label><br>
                <textarea id="Description" name="Description" rows="4" cols="50">Enter description of the product.</textarea><br><br>
                <label for="Images">Enter Image:</label><br>
                <input type="file" id="Images" name="Images"><br><br>
                <input type="submit" value="Submit">
            </form>
</div>
					</div>
				</div>
        </body>
</html>
