<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">
<title>New Request</title>
</head>

<body>
<hr>
	<nav class="navbar navbar-expand">
	<div class="container">
		<a href="/Home">Home</a>
		<a href="/Products">Products</a>
		<a href="onDemandRequest.html">On-Demand Requests</a>
		<a href="About_us.html">About Us</a>
		<a href="login.html">Login/ Register</a>
		<a href="New_request.html">New Request</a>
	
	</div>
</nav>
	<hr>
            <h2><center>New Product</center></h2>
            <p>Enter the new product details below:</p>
            <form action="#"> 
                <label for="Prod_Name">Product Name:</label><br>
                <input type="text" id="Prod_Name" name="Prod_Name"><br>
                <label for="V_name">Manufacturer</label><br>
                <select name="Manufacturers" id="Manufacturers">
					{%for l in allhospitalss%}
    			<option value=l>{%l%}</option>
					{%endfor%}
				</select>
                <label for="Prod_Size">Prod_Size:</label><br>
                <input type="number" id="Prod_Size" name="Prod_Size"><br>
                <label for="Quantity">Enter Quantity:</label><br>
                <input type="number" id="Quantity" name="Quantity"><br>
                <label for="Description">Enter Description:</label><br>
                <input type="text" id="Description" name="Description"><br>
                <label for="Images">Enter Image:</label><br>
                <input type="file" id="Images" name="Images"><br><br>
                <input type="submit" value="Submit">
            </form>

        </body>
</html>
