<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">
<title>New Request</title>
</head>

<body>
<hr>
	<nav class="navbar navbar-expand">
	<div class="container">
		<a href="/Home">Home</a>
		<a href="/Products">Products</a>
		<a href="onDemandRequest.html">On-Demand Requests</a>
		<a href="About_us.html">About Us</a>
		<a href="login.html">Login/ Register</a>
	
	</div>
</nav>
	<hr>
            <h2><center>
              New Product Request
            </center></h2>
            <p>Enter the new product details below:</p>
            <form action="#"> 
                <label for="Req_title">Request Title:</label><br>
                <input type="text" id="Req_title" name="Req_title"><br>
                <label for="H_name">Requested by</label><br>
                <select name="hospitals" id="hospitals">
					{%for l in allhospitalss%}
    			<option value=l>{%l%}</option>
					{%endfor%}
				</select>
                <label for="Dimensions">Dimensions</label><br>
                <input type="number" id="Dimensions" name="Dimensions"><br>
                <label for="Quantity">Quantity:</label><br>
                <input type="number" id="Quantity" name="Quantity"><br>
                <label for="Req_Description">Details:</label><br>
                <textarea id="Req_Description" name="Req_Description" rows="4" cols="50">Provide more details about product request</textarea><br>
				<label for="Budget">Quantity:</label><br>
                <input type="number" id="Budget" name="Budget"><br>
				
                <input type="submit" value="Submit">
            </form>

        </body>
</html>
