<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>onDemand Request</title>
	<link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">
</head>

<body>
	<hr>
	<nav class="navbar navbar-expand">
	<div class="container">
		<a href="/Home">Home</a>
		<a href="/Products">Products</a>
		<a href="onDemandRequest.html">On-Demand Requests</a>
		<a href="About_us.html">About Us</a>
		<a href="login.html">Login/ Register</a>
		<a href="New_request.html">New Request</a>
	
	</div>
</nav>
	<hr>
	 <h2 class="text-center">OnDemand Requests</h2>
<hr>
<div class="container">
		<div class="row text-center">
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 1st request</p>
			</div>
		</div>
		</div>
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 2nd request</p>
			</div>
		</div>
		</div>
		<div class="col-md-4 pb-1 pb-md-0">		
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 3rd request</p>
			</div>
		</div>
		</div>
	</div>
	<div class="row text-center">
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 4th request</p>
			</div>
		</div>
		</div>
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 5th request</p>
			</div>
		</div>
		</div>
		<div class="col-md-4 pb-1 pb-md-0">		
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 6th request</p>
			</div>
		</div>
		</div>
	</div>
</div>
		
<script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.4.1.js"></script>
	</body>
</html>
