<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>onDemand Request</title>
</head>

<body>
<hr>
	<center><h2 class="text-center">OnDemand Requests</h2></center>
<hr>
<div class="container">
		<div class="row text-center">
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 1st request</p>
			</div>
		</div>
		</div>
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 2nd request</p>
			</div>
		</div>
		</div>
		<div class="col-md-4 pb-1 pb-md-0">		
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 3rd request</p>
			</div>
		</div>
		</div>
	</div>
	<div class="row text-center">
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 4th request</p>
			</div>
		</div>
		</div>
			<div class="col-md-4 pb-1 pb-md-0">
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 5th request</p>
			</div>
		</div>
		</div>
		<div class="col-md-4 pb-1 pb-md-0">		
		<div class="card">
			<div class="card-body">
				<a href="request.html" class="btn btn-primary">{{prod_name}}</a>
				<p class="card-text">This is the description of 6th request</p>
			</div>
		</div>
		</div>
	</div>
</div>
	</body>
</html>
