<!doctype html>
<html>
<head>
<meta charset="utf-8">
	<link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{prod_name}}</title>
</head>

<body>
	<hr>
	<nav class="navbar navbar-expand">
	<div class="container">
		

		{% if session_value != None -%}
			<a href="/Home">Home</a>
			<a href="/OnDemandRequest">On-Demand Requests</a>
			<a href="/AboutUs">About Us</a>
			<a href="/New_Products">New Product</a>
			<a href="/My_Profile">My Profile</a>
			<a href="/Logout">Logout</a>
		{% else%}
			<a href="/Home">Home</a>
			<a href="/AboutUs">About Us</a>
			<a href="/Login">Login/Register</a>
		{%endif%}
	
	</div>
</nav>
	<hr>
	<br><br>
	
	<h2 align="center">{{prod_name}}</h2>
	<br>
	
	<form action="#" style="background-color: aliceblue; background-size: auto;width: 700px; margin: auto;text-align: center">
	<img src={{prod_image}} style="width: 300px; height: 300px"></img><br><br>
	<b style="color: #007bff">{{prod_name}}</b><br><br>
	{{prod_description}}<br><br>
	{%if prod_size != None%}
	{{prod_size}}<br><br>
	{%endif%}
	{%if v_name != None%}
	{{v_name}}<br><br>
	{%endif%}
	{%if v_phone != None%}
	{{v_phone}}<br><br>
	{%endif%}
	{%if v_email != None%}
	{{v_email}}<br><br>
	{%endif%}
	{%if v_website != None%}
	{{v_website}}<br><br>
	{%endif%}
	</form>

</body>
</html>
