<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{prod_name}}</title>
</head>

<body>
	
	<img src={{prod_image}}></img><br>
	{{prod_name}}<br>
	{{prod_description}}<br>
	{%if prod_size is not None%}
	{{prod_size}}<br>
	{%endif%}
	{%if v_name is not None%}
	{{v_name}}<br>
	{%endif%}
	{%if prod_size is not None%}
	{{prod_description}}<br>
	{%endif%}
	{%if prod_size is not None%}
	{{prod_description}}<br>
	{%endif%}
	{%if prod_size is not None%}
	{{prod_description}}<br>
	{%endif%}
</body>
</html>
