<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Light Theme</title>
<link href="css/simpleGridTemplate.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Main Container -->
<div class="container"> 
  <!-- Header -->
  <header class="header">
    <h4 class="logo">Products</h4>
  </header>
  <div class="gallery">
    <div class="thumbnail"> <a href="#"><img src="https://www.medguard.ie/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/c/i/ci-09116.jpg" alt="" width="2000" class="cards"/></a>
      <h4>Crash Kit</h4>
      <p class="tag"> $2000</p>
      <p class="text_column">Hospital crash cart/trolley with trays/drawers/shelves on wheels,
        Specially designed for transportation and dispensing of emergency products during crisis situations.</p>
    </div>
    <div class="thumbnail"> <a href="#">
        <img src="https://www.medguard.ie/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/c/s/csm_seca_ct8000l_1.png" 
        alt="" width="1598" height="1000" class="cards"/></a>
        <h4>ECG Machine</h4>
        <p class="tag"></p>$300
        <p class="text_column">An ECG will show your heart rhythm and electrical activity as a graph displayed electronically or printed on paper.</p>
      </div>