<!DOCTYPE html>
<html>
    <head>
        <title>
             "Sign Up"
        </title>
        <meta name="viewpoint" content="width-device-width, initial-scale=1">
    </head>
    <body>
       <center><h2> Rough_Sign Up </h2></center>
        <form method="post" style="background-size: auto"> 
            <div class="imgcontainer">
                <img src="https://cdn-icons-png.flaticon.com/512/1792/1792392.png" 
                alt="Avatar" class="avatar">
            </div>
            <div class="flashes">
					{% for message in get_flashed_messages() %}
						{{ message }}
					{% endfor %}
			</div>
             <div class="container" id="container_id">
                <label for="user_type"><b>Representing<b style="color: red"> *</b></b></label><br>
                <select name="user_type" id="user_type" onchange = "if (this.selectedIndex) display();" required>
                    <option name="none">Choose One Option</option>
                    <option name="hospital">Hospital</option>
                    <option name="vendor">Manufacturer / Vendor</option><br><br>
                </select><br><br>
                 <script>
                        
							
				
                </script>

        
    </body>