<!DOCTYPE html>
<html>
<head>
<style>
    <style>
body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
</style>
</head>
<body>
    <div id="mySidenav" class="sidenav">
    <a href="#">Home</a>
    <a href="#">Products</a>
    <a href="#">On Demand Request</a>
    <a href="#">About Us</a>
    <a href="#">login</a>
    </div>

<center><a href="h.html" class="text-center"><img src="../static/images/logo_3.gif" alt="AVA" width="500" height= "120" class="center"></a></center>
</body>