<!doctype html>
<html>
<head>
<title>home</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../static/css/bootstrap-4.4.1.css" rel="stylesheet">
</head>

<body>

<center><a href="/Home" class="text-center"><img src="../static/images/logo_3.gif" alt="AVA" width="500" height= "120" class="center"></a></center>
<hr>
	<nav class="navbar navbar-expand">
	<div class="container">
		<a href="/Home">Home</a>
		<a href="/Products">Products</a>
		<a href="/OnDemandRequest">On-Demand Requests</a>
		<a href="/AboutUs">About Us</a>
		<a href="/My_Profile">My Profile</a>
		<a href="/Logout">Logout</a>
	</div>
</nav>
	<hr>
	<center><h2 class="text-center">Latest Products</h2>
	</center>

<hr>
  <div class="container" style="border: 4px solid #f1f1f1; background-color: aliceblue">
		
	{% for i in range(0,2) %} 
	  <!-- row_length will be calculated like below
		if(len(prod_id)%3==0)
			row_length=int(len(prod_id)/3)
		else
			row_length=int(len(prod_id)/3) +1-->
	  
		<div class="row text-center mt-4">
		{% for j in range(i*3,(i+1)*3)%}
			{% if j < prod_length %}
                <div class="col-md-4 pb-1 pb-md-0">
					<div class="card">
		  				<img src={{image_list[j]}} alt="No Image" width="350" height="200" class="card-img-top rounded">
						<div class="card-body">
						<a href="/{{prod_ids[j]}}" class="btn btn-primary">{{prod_names[j]}}</a>
						</div>
					</div>
				</div>
			{% endif%}
		{% endfor %}
	</div>
	{% endfor %}
	
	</div>
<script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap-4.4.1.js"></script>
</body>
</html>
